AddDefaultCharset UTF-8

RewriteEngine on

#Pages

RewriteRule ^first_attack/?$ /firstAttack.php [L,QSA]
RewriteRule ^arena/?$ /arena.php [L,QSA]
RewriteRule ^shop/?$ /shop.php [L,QSA]
RewriteRule ^set_quality/?$ /set_quality.php [L,QSA]
RewriteRule ^complect/([0-9]*)/?$ /set_quality.php?complect=$1 [L,QSA]
RewriteRule ^items/?$ /items.php [L,QSA]

RewriteRule ^hero/?$ /hero.php [L,QSA]
RewriteRule ^save/?$ /save.php [L,QSA]
RewriteRule ^chest/?$ /inventory.php [L,QSA]
RewriteRule ^train/?$ /train.php [L,QSA]
RewriteRule ^maneken/?$ /maneken.php [L,QSA]
RewriteRule ^maneken/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)/?$ /maneken.php?gender=$1&head=$2&shoulders=$3&armor=$4&gloves=$5&right_hand=$6&left_hande=$7&pants=$8&boots=$9 [L,QSA]


RewriteRule ^lair/?$ /lair.php [L,QSA]
#Handles

RewriteRule ^login/?$ /app/handlesForm/login.php [L,QSA]
RewriteRule ^save_player/?$ /app/handlesForm/save_player.php [L,QSA]